{{define "title"}}Home{{end}}

{{define "body"}}
<div class="container">

</div>

<h3>What is PowerLedger?</h3>
Powerledger is build on the open source framework Hyperledger Fabric which enables <bold>the participant to store certificates/data in secure and immutable way.</bold> 
<h3>Powerledger Block DIagram</h3>
<img src="/assets/images/Powerledger_Design_by_NNT.jpg"/><br><br>
<h3>Components Involved in Powerledger</h3>

    <li>Web Service</li>
    <li>Web page for accessing the data using web service</li>
    <li>Couchdb database</li>
    <li>Chaincode Handling</li>

{{end}}